body{
background-color:burlywood;
font-family: 'Dancing Script';}
}
p{
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
 
}
h2{
font-family: 'Courier New', Courier, monospace;
background-color: burlywood;
}
img{
    font-family: 'Courier New', Courier, monospace;
    background-color:burlywood ;

}

    padding:10px;

}

